# MacOS & Syncthing
.DS_Store
.stignore
.stversions
Library/

# Deprecated files
.trash

# Files with secret data
.acme.sh
.config/sops
.config/clash/*
!.config/clash/config.yaml
.cos.conf
.git-credentials
.local/share/mkcert
.ssh
.zshenv.sec
automatic_backups

# Others
__pycache__
*.pyc
